<app-card #card [title]="'Denní souhrny'" [icon]="'fas fa-comments'">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <table class="table table-bordered table-sm auto-column-width table-striped">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Uživatel</th>
                    <th sortable [sort]="this.sort" [key]="'Day'" (clicked)="setSort($event)">Den</th>
                    <th sortable [sort]="this.sort" [key]="'MessagePoints'" (clicked)="setSort($event)">Bodů za zprávy</th>
                    <th sortable [sort]="this.sort" [key]="'ReactionPoints'" (clicked)="setSort($event)">Bodů za reakce</th>
                    <th>Bodů celkem</th>
                    <ng-container *ngIf="isMerged">
                        <th>Sloučené období</th>
                        <th>Poč. sloučených sumářů</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>
                        <a routerLink="/admin/servers/{{item.guild.id}}" class="text-dark">{{item.guild.name}}</a>
                    </td>
                    <td>
                        <a routerLink="/admin/users/{{item.user.id}}" class="text-dark">{{item.user.fullUsername}}</a>
                    </td>
                    <td>{{item.day.toLocaleString(true)}}</td>
                    <td>{{item.messagePoints.toLocaleString()}}</td>
                    <td>{{item.reactionPoints.toLocaleString()}}</td>
                    <td>{{item.totalPoints.toLocaleString()}}</td>
                    <ng-container *ngIf="isMerged && item.mergeInfo">
                        <td>
                            {{item.mergeInfo.mergeRangeFrom.toLocaleString(true)}}
                            <span *ngIf="item.mergeInfo.mergeRangeTo">- {{item.mergeInfo.mergeRangeTo.toLocaleString(true)}}</span>
                        </td>
                        <td>{{item.mergeInfo.mergedItemsCount.toLocaleString()}}</td>
                    </ng-container>
                </tr>
                <tr *ngIf="list.isEmpty">
                    <td [attr.colspan]="isMerged ? 8 : 6">Nebyly nalezeny žádné sumáře bodů.</td>
                </tr>
            </tbody>
        </table>
    </app-data-list>
</app-card>
