<app-card #card [title]="'Seznam notifikací'" [icon]="'fas fa-bell'">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <ng-container *ngIf="list.isDataLoaded">
            <app-card *ngIf="list.isEmpty" [header]="false" [classes]="['mb-3']">
                <h6 class="mb-0">Pro zadaný filtr nebyly nalezeny žádné položky.</h6>
            </app-card>

            <table class="table table-sm table-bordered table-striped auto-column-width clickable" *ngIf="!list.isEmpty">
                <thead>
                    <tr>
                        <th sortable [key]="'Id'" [sort]="sort" (clicked)="setSort($event)">#</th>
                        <th sortable [key]="'FromUser'" [sort]="sort" (clicked)="setSort($event)">Odesílatel</th>
                        <th sortable [key]="'ToUser'" [sort]="sort" (clicked)="setSort($event)">Příjemce</th>
                        <th sortable [key]="'At'" [sort]="sort" (clicked)="setSort($event)">Oznámit v</th>
                        <th sortable [key]="'Postpone'" [sort]="sort" (clicked)="setSort($event)">Odloženo</th>
                        <th>Oznámeno</th>
                        <th>Jazyk</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list.items" (click)="showMessage(item)">
                        <td>{{item.id}}</td>
                        <td>
                            <a *ngIf="item.fromUser" routerLink="/admin/users/{{item.fromUser.id}}" class="text-dark"
                                (click)="$event.stopPropagation()">{{item.fromUser.fullUsername}}</a>
                        </td>
                        <td>
                            <a *ngIf="item.toUser" routerLink="/admin/users/{{item.toUser.id}}" class="text-dark"
                                (click)="$event.stopPropagation()">{{item.toUser.fullUsername}}</a>
                        </td>
                        <td>{{item.at.toLocaleString()}}</td>
                        <td>{{item.postpone}}</td>
                        <td>{{item.notified | czechBooleanPipe}}</td>
                        <td>{{item.language}}</td>
                        <td>
                            <list-button (clicked)="showMessage(item)" title="Zobrazit zprávu" icon="info"></list-button>
                            <list-button (clicked)="cancel(item, false)" title="Stornovat" icon="window-close" *ngIf="!item.notified">
                            </list-button>
                            <list-button (clicked)="cancel(item, true)" title="Předčasně oznámit" icon="bullhorn" *ngIf="!item.notified">
                            </list-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </app-data-list>
</app-card>
