<div class="row ml-0 mr-0 mt-2">
    <div class="col">
        <app-card [title]="'Vytvořit oprávnění'" [icon]="'fas fa-user-plus'" [size]="'md'">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Příkaz</label>
                            <app-search-input [searchSource]="'commands'" formControlName="command"></app-search-input>
                            <span class="text-danger" *ngIf="hasError('command')">
                                <small *ngIf="hasError('command', 'required')">Výběr příkazu je povinný.</small>
                            </span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <app-checkbox formControlName="isRole" [label]="'Oprávnění patří k roli'"></app-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col" *ngIf="isRole">
                        <label>Role</label>
                        <app-search-input [searchSource]="'roles'" formControlName="role"></app-search-input>
                        <span class="text-danger" *ngIf="hasError('role')">
                            <small *ngIf="hasError('role', 'required')">Výběr role je povinný.</small>
                        </span>
                    </div>

                    <div class="col" *ngIf="!isRole">
                        <label>Uživatel</label>
                        <app-search-input [searchSource]="'users'" formControlName="user"></app-search-input>
                        <span class="text-danger" *ngIf="hasError('user')">
                            <small *ngIf="hasError('user', 'required')">Výběr uživatele je povinný.</small>
                        </span>
                    </div>

                    <div class="col">
                        <label>Stav</label>
                        <ng-select [bindValue]="'key'" [bindLabel]="'value'" [closeOnSelect]="true" [clearable]="false" [items]="states"
                            [multiple]="false" [notFoundText]="'Nenalezen žádný stav'" [searchable]="false" formControlName="state">
                        </ng-select>
                    </div>

                    <div class="col-1 d-flex align-items-end justify-content-end">
                        <button class="btn btn-success" type="submit" [disabled]="!isValid()">Uložit</button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>
