<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'lg'" [allowHideButton]="true">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md form-group">
                <label>Server</label>
                <app-search-input [searchSource]="'guilds'" formControlName="guildId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Uživatel</label>
                <app-search-input [searchSource]="'users'" formControlName="userId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Založeno (Od)</label>
                <input type="datetime-local" formControlName="assignedAtFrom" class="form-control" />
            </div>

            <div class="col-md form-group">
                <label>Založeno (Do)</label>
                <input type="datetime-local" formControlName="assignedAtTo" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md form-group" *ngIf="!isMerged">
                <label>ID zprávy</label>
                <input type="text" formControlName="messageId" class="form-control" />
            </div>

            <div class="col-md-3 form-group">
                <app-checkbox [id]="'only-messages'" formControlName="onlyMessages" [label]="'Pouze transakce ze zpráv'"></app-checkbox>
            </div>

            <div class="col-md-3 form-group">
                <app-checkbox [id]="'only-reactions'" formControlName="onlyReactions" [label]="'Pouze transakce z reakcí'"></app-checkbox>
            </div>

            <div class="col-md d-flex justify-content-end align-items-end">
                <div class="mt-2">
                    <button class="btn btn-link me-2" type="button" (click)="submitForm()">Obnovit</button>
                    <button class="btn btn-danger" (click)="cleanFilter()">Smazat filtr</button>
                </div>
            </div>
        </div>
    </form>
</app-card>
