<app-card #card [title]="'Pozvánky'" [icon]="'fas fa-user-plus'">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <table class="table table-bordered table-sm table-striped auto-column-width" *ngIf="list.isDataLoaded">
            <thead>
                <tr>
                    <th sortable (clicked)="setSort($event)" [key]="'Code'" [sort]="sort">Kód</th>
                    <th sortable (clicked)="setSort($event)" [key]="'CreatedAt'" [sort]="sort">Vytvořeno</th>
                    <th sortable (clicked)="setSort($event)" [key]="'Creator'" [sort]="sort">Vytvořil</th>
                    <th>Server</th>
                    <th>Použilo uživatelů</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>
                        <a routerLink="/admin/users" [queryParams]="{usedInviteCode: item.code}" class="text-dark">{{item.code}}</a>
                    </td>
                    <td>{{item.createdAt?.toLocaleString()}}</td>
                    <td>
                        <a routerLink="/admin/users/{{item.creator.id}}" class="text-dark"
                            *ngIf="item.creator">{{item.creator.fullUsername}}</a>
                    </td>
                    <td>
                        <a routerLink="/admin/servers/{{item.guild.id}}" class="text-dark" *ngIf="item.guild">{{item.guild.name}}</a>
                    </td>
                    <td>{{item.usedUsersCount}}</td>
                </tr>
                <tr *ngIf="list.items.length === 0">
                    <td colspan="5">Nebyly nalezeny žádné pozvánky.</td>
                </tr>
            </tbody>
        </table>
    </app-data-list>
</app-card>
