<app-card #card [title]="(unsupported ? 'Nepodporované' : 'Podporované') + ' emoty'"
    [icon]="'far fa-smile' + (unsupported ? ' fa-rotate-180' : '')">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <ng-container *ngIf="list.isDataLoaded">
            <table class="table table-bordered table-sm" *ngIf="!list.isEmpty">
                <thead>
                    <tr>
                        <td>Seřadit podle: </td>
                        <th style="width: 200px" sortable (clicked)="setSort($event)" [key]="'UseCount'" [sort]="sort">Počtu použití</th>
                        <th style="width: 250px" sortable (clicked)="setSort($event)" [key]="'FirstOccurence'" [sort]="sort">Data prvního
                            výskytu</th>
                        <th style="width: 250px" sortable (clicked)="setSort($event)" [key]="'LastOccurence'" [sort]="sort">Data posledního
                            výskytu</th>
                        <th style="width: 200px" sortable (clicked)="setSort($event)" [key]="'EmoteId'" [sort]="sort">Názvu</th>
                    </tr>
                </thead>
            </table>

            <table *ngIf="unsupported" class="table table-bordered table-sm auto-column-width">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Název</th>
                        <th>Počet použití</th>
                        <th>První výskyt</th>
                        <th>Poslední výskyt</th>
                        <th>Použilo uživatelů</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list.items">
                        <td>{{item.emote.id}}</td>
                        <td>{{item.emote.name}}</td>
                        <td>{{item.useCount.toLocaleString()}}</td>
                        <td>{{item.firstOccurence.toLocaleString()}}</td>
                        <td>{{item.lastOccurence.toLocaleString()}}</td>
                        <td>{{item.usedUsersCount.toLocaleString()}}</td>
                        <td>
                            <list-button (clicked)="mergeStatsToAnother(item)" [title]="'Sloučit statistiky s jinou statistikou.'"
                                [iconGroup]="'fas'" [icon]="'code-branch'"></list-button>
                            <list-button (clicked)="removeStats(item)" [title]="'Smazat statistiku'" [iconGroup]="'far'"
                                [icon]="'trash-alt'"></list-button>
                        </td>
                    </tr>
                    <tr *ngIf="list.isEmpty">
                        <td colspan="7">Nebyl nalezen žádný nepodporovaný emote.</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="!unsupported" class="row">
                <div class="col text-center" *ngIf="list.isEmpty">
                    <h4 class="fw-normal">Nebyly nalezeny žádné podporované emoty.</h4>
                </div>

                <div class="col emote-list" *ngIf="!list.isEmpty">
                    <div class="border rounded m-2 emote-list-item" *ngFor="let item of list.items">
                        <img class="card-img-top" [src]="item.emote.imageUrl" [alt]="item.emote.name">
                        <div class="card-body pt-0 ps-1 pb-1 d-flex flex-column">
                            <b>{{item.emote.name}}</b>
                            <span>Použito: <b>{{item.useCount.toLocaleString()}}x</b></span>
                            <span>Poprvé: <b>{{item.firstOccurence.toLocaleString()}}</b></span>
                            <span>Naposledy: <b>{{item.lastOccurence.toLocaleString()}}</b></span>
                            <span>Použilo (uživatelů): <b>{{item.usedUsersCount.toLocaleString()}}</b></span>
                            <a href="javascript:;" class="text-dark" (click)="removeStats(item)">Smazat statistiku</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </app-data-list>
</app-card>
