<div class="row ms-0 me-0 mt-3">
    <div class="col">
        <app-card [icon]="'fas fa-network-wired'" [header]="false">
            <app-loading *ngIf="!data"></app-loading>

            <ng-container *ngIf="data">
                <div class="row">
                    <div keyValueItem class="col-2" [key]="'Instance'" [value]="data.instanceType"></div>
                    <div keyValueItem class="col-2" [key]="'Start v'" [value]="data.startAt.toLocaleString()"></div>
                    <div keyValueItem class="col-2" [key]="'Uptime'" [value]="data.uptime"></div>
                    <div keyValueItem class="col-2" [key]="'Aktivní čas'" [value]="data.cpuTime"></div>
                    <div keyValueItem class="col-2" [key]="'Stav připojení'" [value]="data.formattedConnectionState"></div>
                    <div keyValueItem class="col-2" [key]="'Využito paměti'" value="{{data.usedMemory | filesize}}"></div>
                </div>

                <div class="row mt-3">
                    <div keyValueItem class="col-2" [key]="'Serverový čas'" [value]="data.currentDateTime.binding"></div>
                    <div keyValueItem class="col-2" [key]="'Stav bota'" [value]="(data.isActive ? 'Aktivní' : 'Neaktivní')"></div>
                    <div class="col-2 d-flex align-items-end">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success" [disabled]="data.isActive" (click)="toggleState(true)">Aktivní</button>
                            <button class="btn btn-sm btn-danger" [disabled]="!data.isActive"
                                (click)="toggleState(false)">Neaktivní</button>
                        </div>
                    </div>
                    <div class="col d-flex align-items-end justify">
                        <button class="btn btn-sm btn-secondary" (click)="refreshDiag()">Obnovit</button>
                    </div>
                </div>

                <div class="row mt-3" *ngIf="data.activeOperations?.length > 0">
                    <div class="col-6">
                        <h5>Aktivní operace</h5>

                        <table class="table table-sm table-bordered table-stripped auto-column-width">
                            <thead>
                                <tr>
                                    <th>Operace</th>
                                    <th>Počet aktivních</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.activeOperations">
                                    <td>{{item.key}}</td>
                                    <td>{{item.value.toLocaleString()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
        </app-card>
    </div>
</div>

<div class="row ms-0 me-0 mt-3">
    <div class="col">
        <app-card [header]="false" [icon]="'far fa-list-alt'">
            <div class="row">
                <div class="col-md">
                    <ul>
                        <li><a href="javascript:;" (click)="openStats('db')" class="text-dark">Stav datového skladu</a></li>
                        <li><a href="javascript:;" (click)="openStats('audit-log/type')" class="text-dark">Audit log (podle typu)</a></li>
                        <li><a href="javascript:;" (click)="openStats('audit-log/date')" class="text-dark">Audit log (po měsících)</a></li>
                        <li><a href="javascript:;" (click)="openStats('unverify-logs/type')" class="text-dark">Unverify log (podle typu)</a>
                        </li>
                        <li><a href="javascript:;" (click)="openStats('unverify-logs/date')" class="text-dark">Unverify-log (po
                                měsících)</a></li>
                    </ul>
                </div>

                <div class="col-md">
                    <ul class="col-md">
                        <li><a href="javascript:;" (click)="openStats('text-commands')" class="text-dark">Textové příkazy</a></li>
                        <li><a href="javascript:;" (click)="openStats('interactions')" class="text-dark">Interaktivní příkazy</a></li>
                        <li><a href="javascript:;" (click)="openStats('jobs')" class="text-dark">Naplánované úlohy</a></li>
                        <li><a href="javascript:;" (click)="openStats('api/date')" class="text-dark">API (po měsících)</a></li>
                        <li><a href="javascript:;" (click)="openStats('api/endpoint')" class="text-dark">API (po metodách)</a></li>
                        <li><a href="javascript:;" (click)="openStats('api/status')" class="text-dark">API (podle výsledku)</a></li>
                    </ul>
                </div>

                <div class="col-md">
                    <ul>
                        <li><a href="javascript:;" (click)="openStats('eventLog')" class="text-dark">Log událostí</a></li>
                        <li><a href="javascript:;" (click)="openStats('eventStats')" class="text-dark">Statistika událostí</a></li>
                        <li><a href="javascript:;" (click)="openStats('avg-times')" class="text-dark">Průměrné časy (po dnech)</a></li>
                    </ul>
                </div>
            </div>
        </app-card>
    </div>
</div>
