<app-card #card [title]="'Hledání'" [icon]="'fas fa-search'">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <table class="table table-sm table-bordered table-striped auto-column-width clickable" *ngIf="list.isDataLoaded">
            <thead>
                <tr>
                    <th style="width: 40px">&nbsp;</th>
                    <th style="min-width: 60px" sortable [key]="'Id'" [sort]="sort" (clicked)="setSort($event)">ID</th>
                    <th sortable [key]="'User'" [sort]="sort" (clicked)="setSort($event)">Hledající</th>
                    <th sortable [key]="'Guild'" [sort]="sort" (clicked)="setSort($event)">Server</th>
                    <th sortable [key]="'Channel'" [sort]="sort" (clicked)="setSort($event)">Kanál</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items" (click)="showMessage(item, $event)">
                    <td class="text-md-center" (click)="$event.stopPropagation()">
                        <app-checkbox #item_check [id]="item.id"></app-checkbox>
                    </td>
                    <td>{{item.id}}</td>
                    <td>
                        <a routerLink="/admin/users/{{item.user.id}}" class="text-dark"
                            (click)="$event.stopPropagation()">{{item.user.fullUsername}}</a>
                    </td>
                    <td>
                        <a routerLink="/admin/servers/{{item.guild.id}}" class="text-dark"
                            (click)="$event.stopPropagation()">{{item.guild.name}}</a>
                    </td>
                    <td>
                        <a routerLink="/admin/channels/{{item.channel.id}}" class="text-dark"
                            (click)="$event.stopPropagation()">{{item.channel.name}}</a>
                    </td>
                    <td>
                        <list-button (clicked)="showMessage(item, $event)" icon="info" title="Zobrazit zprávu"></list-button>
                    </td>
                </tr>
                <tr *ngIf="list.isEmpty">
                    <td colspan="6">Pro zadaný filtr nebyly nalezeny žádné hledání.</td>
                </tr>
            </tbody>
        </table>

        <div class="row mb-3" *ngIf="!list.isEmpty">
            <div class="col-auto">
                <button class="btn btn-sm btn-danger" (click)="removeItems()">Smazat označené</button>
            </div>
        </div>
    </app-data-list>
</app-card>
