<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [allowHideButton]="true" [size]="'lg'">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md form-group">
                <label>Server</label>
                <app-search-input [searchSource]="'guilds'" formControlName="guildId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Kanál</label>
                <app-search-input [searchSource]="'channels-no-threads'" [guildId]="guildId" formControlName="channelId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Uživatel</label>
                <app-search-input [searchSource]="'users'" formControlName="userId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Vyhledávání</label>
                <input type="text" formControlName="messageQuery" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md d-flex justify-content-end align-items-end">
                <button class="btn btn-link me-2" type="button" (click)="submitForm()">Obnovit</button>
                <button class="btn btn-danger" (click)="cleanFilter()" type="button">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
