<app-card [title]="'Oprávnění'" [icon]="'fas fa-user-lock'" [recordsCount]="data?.length">
    <app-loading *ngIf="!data"></app-loading>

    <table class="table table-sm table-bordered table-striped auto-column-width" *ngIf="data">
        <thead>
            <tr>
                <th>Příkaz</th>
                <th>Role</th>
                <th>Uživatel</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.command}}</td>
                <td>
                    <ng-container *ngIf="item.isRole">
                        <span class="badge" [style.background-color]="item.role.color">&nbsp;</span>
                        {{item.role.name}}
                    </ng-container>
                </td>
                <td>{{item.user?.fullUsername}}</td>
                <td>{{item.formattedState}}</td>
                <td>
                    <list-button (clicked)="toggleState(item, true)" title="Povolit přístup" icon="toggle-on" *ngIf="item.isBanned"></list-button>
                    <list-button (clicked)="toggleState(item, false)" title="Zakázat přístup" icon="toggle-off" *ngIf="item.isAllowed"></list-button>
                    <list-button (clicked)="removeItem(item)" title="Smazat přístup" icon="trash-alt"></list-button>
                </td>
            </tr>
            <tr *ngIf="data.length === 0">
                <td colspan="5">Nebyly nalezeny žádné oprávnění.</td>
            </tr>
        </tbody>
    </table>
</app-card>
