<app-modal [title]="header">
    <table class="table table-sm table-bordered table-striped auto-column-width" *ngIf="isStatLike">
        <thead>
            <tr>
                <th *ngIf="isTextCommands || isInteractions">Příkaz</th>
                <th *ngIf="isJobs">Název úlohy</th>
                <th *ngIf="isApiRequestsByEndpoint">Endpoint</th>
                <th>Poslední volání</th>
                <th>
                    Úspěšnost<br>
                    <span style="font-size: 10px" class="m-0 p-0 d-block">OK / S chybou ( % )</span>
                </th>
                <th>Min. doba</th>
                <th>Max. doba</th>
                <th>Celk. doba</th>
                <th>Posl. běh</th>
                <th>Prům. doba</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="statItemsQuery | async as result; else loading_table">
                <tr *ngFor="let item of result" [class.bg-warning]="item.successRate > 25 && item.successRate < 50"
                    [class.bg-danger]="item.successRate <= 25">
                    <td [title]="item.key">{{item.key | cut:30}}</td>
                    <td>{{item.last.binding}}</td>
                    <td>{{item.successCount}} / {{item.failedCount}} ({{item.successRate}} %)</td>
                    <td>{{item.minDuration}} ms</td>
                    <td>{{item.maxDuration}} ms</td>
                    <td>{{item.totalDuration}} ms</td>
                    <td>{{item.lastRunDuration}} ms</td>
                    <td>{{item.avgDuration}} ms</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <app-line-chart [data]="dictQuery | async" *ngIf="canLineChart"></app-line-chart>
    <app-bar-chart [data]="dictQuery | async" *ngIf="canBarChart"></app-bar-chart>

    <ng-container *ngIf="isEventLog">
        <ul *ngIf="listQuery | async as result; else loading">
            <li *ngFor="let item of result">
                <code class="text-dark" [class.bg-warning]="!item.startsWith('PresenceUpdated')">{{item}}</code>
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="isDb">
        <ng-container *ngIf="databaseQuery | async as dbData else loading">
            <h4>Databáze</h4>
            <app-bar-chart [data]="dbData.database"></app-bar-chart>
            <h4>Cache</h4>
            <app-bar-chart [data]="dbData.cache"></app-bar-chart>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isAvgTimes">
        <ng-container *ngIf="avgTimesQuery | async as avgTimes else loading">
            <h4>Interní API</h4>
            <app-line-chart [data]="avgTimes.internalApi"></app-line-chart>
            <h4>Veřejné API</h4>
            <app-line-chart [data]="avgTimes.externalApi"></app-line-chart>
            <h4>Naplánované úlohy</h4>
            <app-line-chart [data]="avgTimes.jobs"></app-line-chart>
            <h4>Integrované příkazy</h4>
            <app-line-chart [data]="avgTimes.interactions"></app-line-chart>
        </ng-container>
    </ng-container>
</app-modal>

<ng-template #loading_table>
    <tr>
        <td colspan="9">
            <app-loading></app-loading>
        </td>
    </tr>
</ng-template>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
