<app-modal [title]="'Změna času odebrání přístupu'" [type]="'form'">
    <form [formGroup]="form" class="row">
        <div class="col">
            <div class="form-group">
                <label>Datum a čas nového konce</label>
                <input type="datetime-local" formControlName="end" class="form-control" />
            </div>
        </div>
    </form>
</app-modal>
