<app-card [title]="'Nastavení uživatele'" [allowHideButton]="true" icon="fas fa-user-cog" [classes]="['mb-3']" [bodyClasses]="['pt-2']">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-auto">
                <div class="checkboxes-group">
                    <app-checkbox title="Administrátor obdrží plná práva nad GrillBot." [id]="'bot-admin'" [label]="'Administrátor'"
                        formControlName="botAdmin"></app-checkbox>
                    <app-checkbox title="Přístup do webové administrace" [id]="'web-admin'" [label]="'Webová administrace'"
                        formControlName="webAdmin"></app-checkbox>
                    <app-checkbox title="Zablokovány všechny příkazy." [id]="'commands-disabled'" [label]="'Příkazy deaktivovány'"
                        formControlName="commandsDisabled"></app-checkbox>
                    <app-checkbox title="Výpočet bodů deaktivován" [id]="'points-disabled'" [label]="'Body deaktivovány'"
                        formControlName="pointsDisabled"></app-checkbox>
                </div>
            </div>

            <div class="col-md-4">
                <label class="fw-bold">Poznámka</label>
                <textarea class="form-control" formControlName="note"></textarea>
            </div>

            <div class="col-md-4">
                <b>Minimální čas pro selfunverify</b>
                <app-time-span-input formControlName="selfUnverifyMinimalTime"></app-time-span-input>
            </div>

            <div class="col d-flex align-items-end justify-content-end">
                <button class="btn btn-success">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>
